/* .react-tabs__tab--selected{
    border: none !important;
    color: #BB8506 !important;
    font-weight: bold !important;
    background: none !important;
     
}
.react-tabs__tab{
    font-size:larger;
    margin-right: 5px !important; 
    text-transform: uppercase !important;   
}


.react-tabs__tab-list{
    border: none !important;
}

@media only screen and (min-width : 600px){
    .react-tabs>ul{
    
        display: flex !important;
        justify-content: center !important;
    }}







     */
